.background {
  position: fixed;
  inset: 0;
  margin: 0;
}

.scrollable_container {
  position: relative;
  z-index: 1;
  min-height: 900vh;
  touch-action: pan-y;
}

.initial_message {
  position: absolute;
  inset: 0;
  height: 100vh;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  place-items: center;
  place-content: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }

  .arrow_down {
    width: min-content;
    margin-inline: auto;
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    border-radius: 9in;
    background-color: var(--dark-secondary);

    svg {
      width: 34px;
      height: auto;
      color: var(--light-primary);
    }
  }
}
