.gallery {
  position: fixed;
  inset: 0;
  margin: 0;
  background-color: hsl(var(--dark-primary));
  color: hsl(var(--light-primary));

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
