.message_display {
  position: fixed;
  inset: 0 2rem;
  margin: auto;
  text-align: center;
  display: flex;
  place-items: center;
  place-content: center;
  pointer-events: none;
  touch-action: pan-y;
  scroll-snap-align: start;
  min-height: 100vh;

  &:has(a) {
    pointer-events: all;
  }

  p {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
    background-color: hsl(var(--dark-secondary), 0.5);
    border: 2px solid hsl(var(--light-primary));
    border-radius: 1rem;
    width: 100%;
    max-width: 30ch;
  }
}
